@charset "utf-8";
/* CSS Document */

body {background: #fff;}
li, ul, ol, dl {color: #777;}
a, a:hover, a:focus {color: #0f4c92;}

/* *** General Classes *** */
.color {color: #0f4c92;} /* Main Color used principally in the Titles */
.paragraph {color: #777;}
.img-border {border: 10px solid #0f4c92;}
.well{background: rgba(245, 245, 245, 0.7);}
p {
    color:#777;
}
/* *** MENU *** */
.navbar-default .navbar-brand {
	color: #0f4c92;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #0f4c92;
}
#mainmenubar {
	color: #0f4c92;
}
#navtabs_menubar {
	background-color: #0f4c92;
}
#isotope_filtersbar {
	background-color: #0f4c92;
}
/* *** MENU END *** */


/* *** SLIDE *** */
#slide-previous {
	color: #fff; 
}
#slide-next {
	color: #fff;
}
.slide-dot {
	background-color: #fff;
	color: #fff;
}
.slide-active {
	background-color: #0f4c92;
}
#slidecontent {
	background-color: rgba( 51, 51, 51, 0.8);
}
.msg-ulysses {
	color: #0f4c92;
}
.sptext {
	color: #fff; 
}
/* *** SLIDE END *** */
		
/* *** SECTION *** */
.section {
/*	background-image: url(../decorations/background2.png);*/
	background-color: #0f4c92;
	color: #fff;
}
.section-dark {
/*	background-image: url(../decorations/background2.png);*/
	background-color: #333;
	color: #fff;
}
.sub-section {
	color: #777;
}
.sub-section-border {
	color: #777;
	border-bottom: 2px dashed #0f4c92;
}
.sub-section-paragraph {
	background: none;
	color: #777;
}
.presentation-container {
	background: url(../decorations/background.png) #444;
	background-attachment: fixed;
}
/* *** SECTION END *** */


/* *** TABS *** */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #none;
	background-color: transparent;
	border: 1px dashed #0f4c92;
	border-bottom-color: transparent;
}
.nav-tabs {
	border-bottom: 2px solid #0f4c92;
}
.tabs-paragraph {
	color: #777;
}
.nav-tabs>li>a:hover {
	border-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}
/* *** TABS END *** */
		
/* *** PROGRESS BARS *** */
.progress {
	background-color: #c7e9ff;
}
.progress-bar {
	color: #ffffff;
	background-color: #0f4c92;
}
/* *** PROGRESS BARS END *** */
		
		/* *** CTA *** */
.cta-border {
	border-top: 2px dashed #0f4c92;
	border-bottom: 2px dashed #0f4c92;
}
.cta-title {
	color: #0f4c92;
}
.cta-paragraph {
	color: #9aa1aa;
}
/* *** CTA END *** */
		
/* *** BUTTONS *** */
.btn-primary {
	color: #ffffff;
	background-color: #0f4c92;
	border-color: #0f4c92;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #0f4c92;
	border-color: #0f4c92;
}
.btn-default-header {
	background: none;
	color: #fff;
	border: 1px solid #fff;
}
.btn-default-header:hover, .btn-default-header:focus, .btn-default-header:active, .btn-default-header.active, .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #0f4c92;
	border-color: #0f4c92;
}
.btn-default {
	background: none;
	color: #0f4c92;
	border: 1px solid #0f4c92;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #0f4c92;
	border-color: #0f4c92;
}
/* *** BUTTONS END *** */
		
/* *** FIRST PARALLAX *** */
.parallax1 {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(../decorations/pattern-extra-black.png), url(../images/Parallax.jpg);
}
	.parallax-inner1 {
		color: #fff;
	}
.parallax-icon {
	color: #fff;
}
.parallax-title {
	color: #fff;
}
.parallax-icon-paragraph {
	color: #fff;
}
/* *** FIRST PARALLAX END *** */
		
/* *** PRICING TABLES *** */
.pricing-bg {
/*	background: url(../decorations/background.png) #444; */
    background: #fff
	background-attachment: fixed;
}
.pricing-bg-title {
	color: #0f4c92;
}
.pricing-table {
	background: #fff;
	color: #777;
}
.pricing-table-icon {
	color: #0f4c92;
}
.pricing-table h3 {
	background: #0f4c92;
	color: #fff;
}
.price-content {
	background: #fff;
}
.price {
	color: #0f4c92;
	background-color: #fff;
    font-size: 40px;
}
.price-icon {
  	color: #0f4c92;
	background-color: #fff;  
}
.pricing-table-button {
	background: #0f4c92;
	color: #fff;
}
.pricing-table li {
	color: inherit;
	border-color: rgba(0,0,0,0.1);
}
.pricing-table .btn {
	color: #fff;
	background: #0f4c92;
}
/* *** PRICING TABLES END *** */
		
/* *** ICONS *** */
.icon-one, .icon-two {
	color: #0f4c92;
}
.icon-paragraph {
	color: #777;
}
/* *** ICONS *** */
		
/* *** SECOND PARALLAX *** */
.parallax2 {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(../decorations/pattern-extra-black.png), url(../images/chess_1.jpg);
}
	.parallax-inner2 {
		color: #fff;
	}
.parallax-quote-icon {
    color: #0f4c92;
}
/* *** SECOND PARALLAX END *** */
		
/* *** THIRD PARALLAX *** */
.parallax3 {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(../decorations/pattern-extra-black.png), url(../images/chess_1.jpg);
}
	.parallax-inner3 {
		color: #fff;
	}
/* *** THIRD PARALLAX END *** */
		
/* *** GALLERY *** */
#gallery-overlay {
 background-color: rgba(0, 0, 0, 0.8);
}
#gallery-previous, #gallery-next,
#gallery-close, #gallery-more {
 color: #fff;
}
.spinner > div {
 background-color: #fff;
}
.gallery-cover {
 background-color: #333;
}
.gallery-description {
 color: #fff; 
}
.gallery-icon {
 color: #fff;
 background: #0f4c92;
}
.gallery-text {
 background: rgba(0, 0, 0, 0.5);
 color: white;
}
/* *** GALLERY END *** */
		
/* *** CONTACT FORM *** */
.form-control {
	color: #555555;
	background-color: #ffffff;
	border-color: #fff;
}
/* *** CONTACT FORM END *** */
		
		/* *** FOOTER *** */
.footer {
    height: 250px;
	color: #fff;
	background: #0f4c92;
}
.footer-content {
    padding-top: 30px;
}
.dashed-border {
	color: #fff; 
	border: 2px dashed #fff;
}
.footer-icon {
	color: #fff;
}
/* *** FOOTER END *** */

/* FEATURES */
.icon {
	color: #777;
}
/*Animation*/
.form-control:focus {
	border-color: #0f4c92;
}
.footer-icon:hover {
	color: #333;
}
.icon:hover {
	color: #0f4c92;
}
.pricing-table-button:hover {
	background-color: #0f4c92;
}
.pricing-table:hover {
	background-color: #0f4c92;
	color: #fff;
}
.pricing-table:hover > .caption .btn {
	background-color: #fff;
	color: #0f4c92;
}
.pricing-table:hover > .caption li {
	border-color: rgba(255,255,255,0.5);
}

/**MOBILE**/
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
	.form-control {
		border-color: #AAA;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) {
	.form-control {
		border-color: #AAA;
	}
}
